body { box-sizing: border-box; background-color: #000; color: #fff }
section { width: 100%; height: 100% }
.fullscreen {position:absolute; padding:0; margin:0; top:0; left:0; width: 100%; height: 100%}
.lol { display: none; font-size: 4em }
p { margin:0}
#rick { display: none }
#splash { background-color: rgba(0,0,0,1); text-align: center}